{% extends "base.html" %}

{{% block content %}
    <h1>
        TODO list:
        <button style="float: right; margin: 5px;" class="btn btn-success" type="button">
            <a style="color: white; text-decoration: none;" href="{% url 'todo_list:task-create' %}">Add task</a>
        </button>
    </h1>
    <hr>
    {% if task_list %}
        <table class="table table-striped">
            <tbody>
            {% for task in task_list %}
                <tr>
                    <td>
                        {{ task.content }}
                        {% if task.done %}
                            <span style="color: forestgreen">Done!</span>
                        {% else %}
                            <span style="color: red;">You must do it!</span>
                        {% endif %}
                        <button style="float: right; margin-top: 10px; margin-left: 5px; min-width: 10em"
                                class="btn btn-success btn-sm"
                                type="button">
                            <a style="color: white; text-decoration: none;"
                               href="{% url 'todo_list:task-action' pk=task.id %}">
                                {% if task.done %}
                                    Repeat
                                {% else %}
                                    Compete
                                {% endif %}
                            </a>
                        </button>
                        <br>
                        {% if task.datetime %}
                            {{ task.datetime }}
                        {% endif %}
                        {% if task.done %}
                        {% else %}
                            {% if task.deadline %}
                                <br>
                                <span style="color: palevioletred">Deadline: {{ task.deadline }}</span>
                            {% endif %}
                        {% endif %}
                        <br>
                        {% if task.tag.values %}
                            Tag{{ task.tag.values|pluralize }}:
                            {% for tag in task.tag.values %}
                                #{{ tag.name }};
                            {% endfor %}
                            <br>
                            <a class="btn-link" href="{% url 'todo_list:task-update' pk=task.id %}">Update</a>
                            <a href="{% url 'todo_list:task-delete' pk=task.id %}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Tasks not found.</p>
    {% endif %}
{% endblock %}}